[Unit]
Description=Example python service
After=syslog.target

[Service]
Type=simple
User=jetblack
Group=jetblack
WorkingDirectory=/opt/jetblack-python-example
ExecStart=/opt/jetblack-python-example/bin/jetblack-python-example
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target